// COLORS PRIMARY
$vox-color-opovo-primary-dark: #04254E;
$vox-color-opovo-primary-medium: #1B406D;
$vox-color-opovo-primary-light: #6A8BB4;

// COLORS SECUNDARY
$vox-color-opovo-highlight-dark: #007799;
$vox-color-opovo-highlight-medium: #01AAE5;
$vox-color-opovo-highlight-light: #66DDFF;

// NEUTRAL
$vox-color-opovo-neutral-darker: #1E1E1E;
$vox-color-opovo-neutral-dark: #555555;
$vox-color-opovo-neutral-medium: #999999;
$vox-color-opovo-neutral-fair: #DFDFDF;
$vox-color-opovo-neutral-light: #F3F3F3;
$vox-color-opovo-neutral-lighter: #FFFFFF;

// POSITIVE
$vox-color-opovo-positive-dark: #005619;
$vox-color-opovo-positive-medium: #147733;
$vox-color-opovo-positive-light: #66BC7F;

// WARNING
$vox-color-opovo-warning-dark: #996000;
$vox-color-opovo-warning-medium: #F79400;
$vox-color-opovo-warning-light: #FFC666;

// NEGATIVE
$vox-color-opovo-negative-dark: #840000;
$vox-color-opovo-negative-medium: #B51919;
$vox-color-opovo-negative-light: #EA6666;